.Pub {
    display:block;
    position: fixed;
    top:0; left:0;
    width: 100%; height: 100%;
    background:#57007F url(logo-altazion-800.png) no-repeat center center;
    background-size: 800px;
}